# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

build/

# QtCreator

*.autosave

build-angadi-Desktop_Qt_5_2_1_GCC_32bit-Debug
build-angadi-Desktop_Qt_5_2_1_GCC_32bit-Release

.directory
!.gitignore
.gitignore